
@import "bourbon/bourbon";

@import "variables";
@import "base/base";

@import "layout";
@import "syntax-highlighting";

/** OVERRIDE */
.post-item .date-label {
  margin-left: 0;
}
.post-item .article-title {
  width: 75%;
}
p.lead {
  font-size: 1rem;  
}
.category-title {
  font-weight: bold;
}
.post-item a {
  color: gray;
  font-weight: 300;
}
.intro .container {
  padding-bottom: 1.5em;
}
